.main {
   width: 100%;
   min-height: 100vh;
   padding-top: 78px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: url("/red.jpg") no-repeat;
   background-size: cover;
   border-top: 1px solid;
}
.h1 {
   color: #fff;
}
.h2 {
   padding: 0px 0 0px 0;
   text-shadow: #000 2px 2px 2px;
   color: #FCCD2E;
   font-size: 2rem;
}
.timeline {
   width: 100vw;
   display: flex;
   flex-direction: column;
   padding: 30px 10px;
   position: relative;
}

/** ligne du milieu */
.timeline::before {
   content: "";
   position: absolute;
   width: 5px;
   background: #fccd2e;
   top: 0;
   bottom: 0;
   left: 50%;
   margin-left: -2.5px;
   transition:all 0.2s ease;
}
.timeline > li {
   margin-bottom: 20px;
   position: relative;
}
.timeline > li:after{
    clear: both;
}
.timeline > li:before, .timeline > li:after{
    content: " ";
    display: table;
}
.timelineBadge, .timelineBadge1{
    width: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -26px;
    border-radius: 50%;
    transition:left 0.2s ease;
   }
.timelineBadge{
   background-color: #fccd2e;
}
.timelineBadge1{
   background-color: #fff;
}
.div {
   width: 50%;
   content: "";
}
.cardContent1, .cardContent2 {
   width: 100%;
   display: flex;
   justify-content: center;
   transition:left 0.2s ease;
}
.cardBox1, .cardBox2 {
   width: 50%;
   display: flex;
   padding: 0 20px;
}
.cardBox1 {
   justify-content: flex-start;
}
.cardBox2 {
   justify-content: flex-end;
}

@media screen and (max-width: 768px) {
   .timeline {
      justify-content: center;
      align-items: center;
   }
   .div {
      width: 0;
   }
   .cardBox1, .cardBox2 {
   width: 100%;
   display: flex;
   flex: start;
   padding: 0 20px;
   }
   .cardBox1 {
      justify-content: flex-end;
   }
   .cardBox2 {
      justify-content: flex-end;
   }
   .timeline::before {
      width: 0;
   }
   .timelineBadge, .timelineBadge1{
    left: 100%;
    top: 35%;
   }
   .h2 {
      font-size: 2.2rem;
   }
}
@media screen and (max-width: 514px) {
   .timelineBadge, .timelineBadge1{
      width: 0;
      display: none;
   }
}