.main {
  min-height: 100vh;
  width: 100vw;
  position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/blueBack.jpg");
  filter:brightness(45%);
}
.date {
  font-family: "Jersey 15", sans-serif;
  font-size: 24px;
  transform: translateY(30px);
  color: #fff;
}
.page {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.heroImage {
  position: relative;
  background-color: #010101;
  border-radius: 16px;
  box-shadow: #010101 7px 4px 0px;
}
.image {
  border-radius: 12px;
}
.container {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
.hi {
  border-radius: 50px;
}
.title {
  font-size: 3vh;
  padding: 10px 0 10px 0;
  color: #fff;
  transition: transform 0.3s ease-in-out;
}
.title:hover {
  transform: scale(1.2) translateY(-5px);
}
  
.description {
  width: 100%;
  color: #fff;
  font-size: 1.8vh;
}
.button {
position: relative;
border: 1px solid #FCCD2E;
background: #FCCD2E;
padding: 18px 60px;
border-radius: 12px;
box-shadow: #010101 5px 5px 0px;
font-size: 1.2em;
cursor: pointer;
transition: all 0.25s ease-in;
}
.button:hover {
  background: #010101;
  color: #fccd2e;
  border: none;
}

@media screen and (max-width: 596px) {
  .page {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .hero img {
    height: 60%;
    text-align: center;
  }
  .title {
    font-size: 2.4vh;
  }
  .container {
    text-align: center;
    padding: 60px 0;
  }
  .description {
    text-align: center;
    font-size: 2.1vh;
  }
}
