.main {
   width: 100vw;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: 78px;
   background: url("/imgBackground/red1.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.title {
   margin-top: 0px;
   padding: 0px 0 50px 0;
   color: #fff;
}
.h2 {
   padding: 0px 0 20px 0;
   text-shadow: #000 2px 2px 3px;
   color: #fff7dd;
   font-size: 2rem;
}
.links, .link {
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: #fff;
   cursor: pointer;
}
.links:hover {
   transition: transform 0.25s ease-in-out;
   transform: scale(1.19);
}
.link>a:first-child:hover,
.link>a:last-child:hover
 {
   transition: transform 0.25s ease-in-out;
   transform: scale(1.19);
}

.links a, .link a {
   width: 70px;
   height: 30px;
   text-align: center;
   padding: 3px;
   background-color: #fccd2e;
   border-radius: 12px;
   box-shadow: #010101 5px 5px 0px;
}
.technos:hover {
   background: "#005BCD",
}

@media screen and (min-width: 886px){
   .card {
      width: 750px;
   }
}
@media screen and (max-width: 768px) {
   .h2 {
      font-size: 2.2rem;
      padding-bottom: 50px;
   }
}
@media screen and (max-width: 576px){
   .card {
      width: 350px;
   }
}
