
.main {
   width: 100vw;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center; 
   justify-content: space-between;
   padding-top: 78px;
   background: url("/yellow2.png") no-repeat; 
   background-size: cover;
   border-top: 1px solid;
}
.h2 {
   padding: 0px 0 0px 0;
   color: #F22B30;
   font-size: 2rem;
   font-weight: 900;
   width: 35vw;
   background-color: #141300;
   border-radius: 12px;
   /* position: absolute; */
}
.cards {
   margin-top: 52px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap:wrap;
   gap: 20px;
   z-index: 10;
}
.button {
   margin-top: 20px;
}
@media screen and (max-width: 1194px) {
   .h2 {
      margin-bottom: 50px;
   }
}
@media screen and (max-width: 768px) {
   .h2 {
      font-size: 2.2rem;
   }
}